<!-- Project Layout -->

<ul class="nav nav-pills">
    <li class="dropdown">
        <a data-toggle="dropdown" class="image-toggle"> <b class="caret"></b></a>

        <ul class="dropdown-menu">
            <li><a href="#"><i class="mdi mdi-email-outline"></i>Messages</a></li>
            <li><a href="#"><i class="mdi mdi-account"></i>Account</a></li>
            <li><a href="#"><i class="mdi mdi-settings"></i>Settings</a></li>
             <li class="nav-item pl-1" style="padding:10px;">
						<a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i>About</a>
					</li>
         
        </ul>
    </li>
</ul>




<!-- Template layout -->

<div class="background"></div>