@model UserManagement.Models.Products

@{
    ViewData["Title"] = "Create";
}


<h4>Add Products</h4>
<hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="MinPrice" class="control-label"></label>
            <input asp-for="MinPrice" class="form-control" />
            <span asp-validation-for="MinPrice" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="MaxPrice" class="control-label"></label>
            <input asp-for="MaxPrice" class="form-control" />
            <span asp-validation-for="MaxPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="EndTime" class="control-label"></label>
            <input asp-for="EndTime" class="form-control" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ProductImage" class="control-label"></label> <br />
            <input asp-for="ProductImage" accept="image/*" />
            <span asp-validation-for="ProductImage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="float:right;">
    <input type="submit" value="Add" class="btn btn-primary" />
    </div>

</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
